#chat2 .form-control {
    border-color: transparent;
}

#chat2 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.card-footer {
    gap: 10px;
}

.chat-window {
    position: fixed;
    z-index: 50;
    width: 60%;
    right: 0px;
    bottom: 0;
    overflow: hidden;
    transform: translate(23%, 5%);
}

.circle-wrapper {
    border-radius: 50%;
    position: fixed;
    cursor: pointer;
    bottom: 30px;
    right: 30px;
    z-index: 50;
}

.circle-my {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    z-index: 51;
}

.button-send {
    border: none;
    /* color: blue; */
    background: none;
}