.map-geolocate {
  position: absolute !important;
  top: 0;
  left: 0;
}

.is-invalid-input{
  border: 2px solid #dc3545;
}
.error{
  color:#dc3545;
}
.form-control{
  padding-right: 0 !important;
}
.form-control,
.form-control:focus {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
}

.google__input {
  border-color: #acacac;
}
.input-group-append {
  background-color: #fff;
}

.btns {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-width: 235px;
  gap: 10px;
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
}


.gmaps {
  position: relative;
}

.overflow-forms {
  height: 320px;
  overflow: auto;
  padding-right: 10px;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #0e0f3e;
  border: 3px solid #fff;
}
.forms-top:first-child {
  margin-top: 0 !important;
}
